prometheus-client==0.0.19
pytz
pyvmomi>=6.5
twisted>=22.10.0rc1
pyyaml>=5.1
service-identity
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
